@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: none;
    list-style-type: disc;
  }
  li::marker {
    color: #a445ed;
  }
  p {
    font-size: 1.2rem;
  }
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 2rem; /* adjust the padding to make room for the SVG */
  z-index: 1;
}
