@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: none;
    list-style-type: disc;
  }
  li::marker {
    color: #a445ed;
  }
  p {
    font-size: 1.04rem;
  }
}

.link {
  color: #a445ed;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  margin: 0 0.18rem;
}

.link:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('/images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 2rem; /* adjust the padding to make room for the SVG */
  z-index: 1;
}

.synonyms {
  background: #f7f7f7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
